.menu-top {
    display: flex;

    &__logo{
        display: flex;
        margin-right: 1%;
        svg{
            width: 40px;
        }
    }

    &__content{
        line-height: 64px;
    }
    
}

